@import './styles/globals.css';
@import './styles/animations.css';
@import './styles/textures.css';

@font-face {
  font-family: 'AsteraCasty';
  src: url('/fonts/AsteraCastyDemoRegular-Jp00E.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Feldora';
  src: url('/fonts/FeldoraDemoRegular-ZpjY3.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
